* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "digital-7 regular font";
  src: url("./fonts/digital-7.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Nexa Script Light";
  src: url("./fonts/ofont.ru_Nexa Script.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

canvas {
  z-index: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
}

.timer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  z-index: 1;
}

.timer {
  font-family: "digital-7 regular font";
  font-size: 48pt;
  font: 700;
  color: pink;
  text-shadow: 0 0 10px pink, 0 0 60px pink, 0 0 100px pink;
}

.wrapper {
  background-size: cover;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: background-color 2s linear;
  transition: background-color 2s linear;
}

.holidayCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 300px);
  background-color: pink;
  width: 600px;
  height: 400px;
  z-index: 2;
}

.halfHolidayCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 5px;
  width: calc(50% - 10px);
  height: calc(100% - 10px);
}

.holidayCard__content {
  font-family: "Nexa Script Light";
  font-size: 32pt;
  text-align: center;
  margin: auto;
}

.back-img {
  max-height: 60%;
  max-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  z-index: 1;
}

.volume {
  position: fixed;
  top: 10px;
  left: 10px;
  border: pink 5px solid;
  padding: 10px;
  color: pink;
  border-radius: 50%;
  font-size: 1rem;
  z-index: 3;
  -webkit-transition: color .5s linear, border-color .5s linear, text-shadow .5s linear, -webkit-box-shadow .5s linear;
  transition: color .5s linear, border-color .5s linear, text-shadow .5s linear, -webkit-box-shadow .5s linear;
  transition: color .5s linear, border-color .5s linear, box-shadow .5s linear, text-shadow .5s linear;
  transition: color .5s linear, border-color .5s linear, box-shadow .5s linear, text-shadow .5s linear, -webkit-box-shadow .5s linear;
  cursor: pointer;
}

.volume:hover {
  color: #66c9d5;
  border-color: #66c9d5;
  -webkit-box-shadow: 0 0 10px #66c9d5;
          box-shadow: 0 0 10px #66c9d5;
  text-shadow: 0 0 10px #66c9d5;
}

.new_year__block {
  text-decoration: none;
  font-style: none;
  position: fixed;
  top: 20px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 10px;
  border: pink 5px solid;
  padding: 3px;
  color: pink;
  font-size: 1rem;
  z-index: 3;
  -webkit-transition: color .5s linear, border-color .5s linear, text-shadow .5s linear, -webkit-box-shadow .5s linear;
  transition: color .5s linear, border-color .5s linear, text-shadow .5s linear, -webkit-box-shadow .5s linear;
  transition: color .5s linear, border-color .5s linear, box-shadow .5s linear, text-shadow .5s linear;
  transition: color .5s linear, border-color .5s linear, box-shadow .5s linear, text-shadow .5s linear, -webkit-box-shadow .5s linear;
  cursor: pointer;
}

.new_year__block:hover {
  color: #66c9d5;
  border-color: #66c9d5;
  -webkit-box-shadow: 0 0 10px #66c9d5;
          box-shadow: 0 0 10px #66c9d5;
  text-shadow: 0 0 10px #66c9d5;
}

.hidden {
  display: none;
}

.new_year__link {
  padding: 0;
}

.afternoon {
  background-color: #1d6db2;
}

.morning {
  background-color: #006cad;
}

.evening {
  background-color: #00396e;
}

.night {
  background-color: #001438;
}

@-webkit-keyframes pulsate {
  50% {
    color: pink;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  }
}

@keyframes pulsate {
  50% {
    color: pink;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  }
}

.pulse {
  -webkit-animation: pulsate 4s linear infinite;
  animation: pulsate 4s linear infinite;
}

@media (max-width: 479px) {
  .volume {
    font-size: 1rem;
    bottom: 10px;
    top: auto;
  }
  .new_year__block {
    font-size: 2rem;
    bottom: 10px;
    top: auto;
  }
  .back-img {
    max-height: 40%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .volume {
    font-size: 2rem;
  }
  .new_year__block {
    font-size: 2rem;
    bottom: 10px;
    top: auto;
  }
}

@media (min-width: 768px) {
  .volume {
    font-size: 4rem;
  }
  .new_year__block {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */